@model Question
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form>
    Question text:
    <input asp-for="Text" />
    <div>
        Answers 1:
        <input asp-for="Answers[0].Text" />

        Answers 2:
        <input asp-for="Answers[1].Text" />

        Answers 3:
        <input asp-for="Answers[2].Text" />

        Answers 4:
        <input asp-for="Answers[3].Text" />
    </div>
    
    <div>
        <h3>Which answer is correct?</h3>
        <input id="option1" type="radio" value="0" asp-for="CorrectAnswerIndex" />
        <label for="option1">Answer 1</label>

        <input id="option2" type="radio" value="1" asp-for="CorrectAnswerIndex"/>
        <label for="option2">Answer 2</label>

        <input id="option3" type="radio" value="2" asp-for="CorrectAnswerIndex"/>
        <label for="option3">Answer 3</label>

        <input id="option4" type="radio" value="3" asp-for="CorrectAnswerIndex"/>
        <label for="option4">Answer 4</label>
    </div>

    <button class="btn btn-primary" type="submit">Create</button>
</form>