@model QuizNetDataAccess.Models.Question
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" asp-controller="Question" asp-action="Create">
    <partial name="_CreateUpdateForm" model="Model"/>
    <button class="btn btn-primary" type="submit">Create</button>
</form>